* {
  font-family: "Source Sans Pro", sans-serif;
}
.container-about1 {
  width: 730px;
  margin: 100px auto;
  background-color: #141313;
  display: flex;
}
.about-div {
  margin: 0;
}

.image-about {
  width: 230px;
  height: 210px;
}
.ourcore {
  font-size: 12px;
  font-weight: 800;
  color: rgb(217, 217, 217);
  margin-bottom: 5px;
}
.ideas {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
}
.ifwe {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5rem;
}
.container-about2 {
  width: 730px;
  margin: 0 auto;
  background-color: #141313;
  display: flex;
}
.ideasused {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5rem;
  margin-top: 10px;
}
.deepstash {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5rem;
  margin-top: 20px;
}
.container-about3 {
  width: 730px;
  margin: 0 auto;
  background-color: #141313;
  margin-top: 50px;
}
.now {
  font-size: 13px;
  font-weight: 800;
  margin-bottom: 5px;
}
.about-blocks {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.about-block {
  width: 330px;
  height: 320px;
  background-color: #222222;
  border-radius: 35px;
}
.image1-about {
  height: 100px;
  margin-left: 125px;
  margin-top: 30px;
}
.textinblocks {
  width: 280px;
  margin-left: 25px;
}
.image1-aboutt {
  height: 110px;
  margin-left: 115px;
  margin-top: 30px;
}
.about-blockk {
  width: 330px;
  height: 310px;
  background-color: #222222;
  border-radius: 35px;
}
.about-blockss {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.image1-about1 {
  height: 100px;
  margin-left: 110px;
  margin-top: 30px;
}
.last-block {
  width: 730px;
  height: 140px;
  margin-top: 10px;
  background-color: #222222;
  border-radius: 30px;
  display: flex;
}
.last-block-img {
  height: 110px;
  margin-left: 25px;
  margin-top: 15px;
}
.noww {
  font-size: 13px;
  font-weight: 800;
  margin-top: 45px;
}
.container-about4 {
  width: 730px;
  margin: 0 auto;
  background-color: #141313;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}
.container-about4-left {
  width: 460px;
}
.li {
  line-height: 1.5rem;
}
.about-image6 {
  height: 270px;
  margin-top: 40px;
}
.about5 {
  width: 730px;
  margin: 0 auto;
  background-color: #141313;
  margin-top: 20px;
}
.ourcoree {
  font-size: 13px;
  font-weight: 800;
  color: #b685ba;
}
.ourcoreee {
  font-size: 12px;
  font-weight: 800;
  color: rgb(217, 217, 217);
  margin-top: 60px;
}
.about-image7 {
  height: 135px;
}
.left-right {
  display: flex;
}
.about-image9 {
  height: 35px;
  margin-top: 140px;
}
.about-image10 {
  height: 40px;
  margin-left: 155px;
  margin-top: 12px;
}
.about-image11 {
  height: 40px;
  margin-left: 370px;
}
.p2 {
  margin-left: 20px;
}
