* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-following-container1 {
    width: 100%;
    height: 1550px;
    display: flex;
    justify-content: center;
    background-color: rgb(20, 19, 19);
}
.main-following-container2 {
    width: 945px;
    height: 1460px;
    /* margin-top: 116px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 19, 19);
}
.main-following-container3 {
    width: 587.672px;
    height: 84px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center
    
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

.block-following-h2 {
    width: 587.67px;
    height: 36px;
    font-size: 1.5rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    color: white;
    background-color: rgb(20, 19, 19);
}
.block-following-p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    background-color: rgb(20, 19, 19);
    color: white;
}
.block-following-p2 {
    width: 19.03px;
    height: 28px;
} 
.main-following-container4 {
    width: 708.75px;
    height: 1130px;
    padding: 24px;
    border-radius: 20px;
    /* display: flex; */
    background-color: rgb(34, 34, 34);
}
.main-following-container5 {
    width: 660.750px;
    height: 50px;
    padding-bottom: 16px;
    display: flex;
    /* background-color: cadetblue; */
}
.block-following-img {
    width: 36px;
    height: 36px;
    border-radius: 20px;
}
.main-following-container6 {
    width: 150px;
    height: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 3px;
    background-color: rgb(34, 34, 34);
}
.block-following-p3 {
    color: rgb(183, 134, 187);;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
}
.block-following-p4 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    color: rgb(217, 217, 217);
}
.main-following-container7 {
    width: 500px;
    height: 40px;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: end;
}
.block-following-button {
    width: 90px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid black;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    background-color: violet;
    cursor: pointer;
}
.block-following-button:hover {
    animation: pulsate 1s ease-in-out;
} 
@keyframes pulsate {
    0%{
        box-shadow: 0 0 25px #a416cf, 0 0 50px #ad1be7;
    }
}

.main-following-container8 {
    width: 625px;
    height: 80px;
    margin-left: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    background-color: rgb(34, 34, 34);
}
.main-following-container9 {
    width: 625px;
    height: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    background-color: rgb(34, 34, 34);
}
.block-following-p5 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: rgb(179, 180, 186);
}
.main-following-container10 {
    width: 708.75px;
    height: 350px;
    padding: 24px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: rgb(20, 19, 19);
}
.main-following-container11 {
    width: 320px;
    height: 300px;
    border-radius: 20px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 10px; */
    background-color: rgb(34, 34, 34);
}
.main-following-container11 img {
    width: 80px;
    height: 80px;
}
.main-following-container11 p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);;
    margin-top: 10px;
}

@media all and (max-width: 425px) {
    .main-following-container1 {
        width: 710px;
        height: 2150px;
        display: flex;
        justify-content: center;
        background-color: rgb(20, 19, 19);
    }
    .main-following-container2 {
        width: 700px;
        height: 2150px;
        /* margin-top: 116px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(20, 19, 19);
    }
    .main-following-container3 {
        width: 700px;
        height: 90px;
        background-color: rgb(20, 19, 19);
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center
        
    }
    .block-following-h2 {
        width: 670px;
        height: 36px;
        font-size: 1.7rem;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 700;
        color: white;
        background-color: rgb(20, 19, 19);
    }
    .block-following-p {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 400;
        background-color: rgb(20, 19, 19);
        color: white;
        font-size: 1.4rem;
    }
    .block-following-p2 {
        font-size: 1.1rem;
        width: 19.03px;
        height: 25px;
        /* height: 35px; */
        background-color: rgb(20, 19, 19);
    } 
    .main-following-container4 {
        width: 680px;
        height: 1330px;
        padding: 10px;
        border-radius: 20px;
        /* display: flex; */
        background-color: rgb(34, 34, 34);
    }
    .main-following-container5 {
        width: 660px;
        height: 70px;
        padding-bottom: 16px;
        display: flex;
        background-color: rgb(34, 34, 34);
    }
    .block-following-img {
        width: 65px;
        height: 65px;
        border-radius: 30px;
    }
    .main-following-container6 {
        width: 250px;
        height: 65px;
        display: flex;
        flex-direction: column;
        padding-left: 3px;
        background-color: rgb(34, 34, 34);
    }
    .block-following-p3 {
        color: rgb(183, 134, 187);;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
    }
    .block-following-p4 {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 700;
        color: rgb(217, 217, 217);
        font-size: 1.5rem;
    }
    .main-following-container7 {
        width: 350px;
        height: 65px;
        background-color: rgb(34, 34, 34);
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .block-following-button {
        width: 120px;
        height: 50px;
        border-radius: 35px;
        border: 1px solid black;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 700;
        font-size: 1.3rem;
        background-color: violet;
        cursor: pointer;
    }
    .block-following-button:hover {
        animation: pulsate 1s ease-in-out;
    } 
    @keyframes pulsate {
        0%{
            box-shadow: 0 0 25px #a416cf, 0 0 50px #ad1be7;
        }
    }
    .main-following-container8 {
        width: 596px;
        height: 116px;
        margin-left: 64px;
        margin-bottom: 10px;

        border-bottom: 4px solid black;
        background-color: rgb(34, 34, 34);
    }
    .main-following-container9 {
        width: 596px;
        height: 60px;
        margin-left: 64px;
        margin-bottom: 10px;
        border-bottom: 4px solid black;
        background-color: rgb(34, 34, 34);
    }
    .block-following-p5 {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 400;
        color: rgb(179, 180, 186);
        font-size: 1.3rem;
        /* margin-bottom: 10px; */
        /* padding-bottom: 10px; */
    }
    .main-following-container10 {
        width: 680px;
        height: 680px;
        padding: 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        background-color: rgb(20, 19, 19);
    }
    .main-following-container11 {
        width: 640px;
        height: 320px;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-top: 10px; */
        background-color: rgb(34, 34, 34);
    } 
    .main-following-container11 img {
        width: 120px;
        height: 120px;
    }
    .main-following-container11 p {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 400;
        color: rgb(255, 255, 255);;
        /* margin-top: 5px; */
        margin: 5px;
        font-size: 26px;
    }
}
/* @media all and (max-width: 592px){
    .main-following-container1 {
        width: 100%;
    }
} */